@use './generals';
@use './mixins';
@use './resets';
@use './variables';

body {
  background-color: rgba(0, 0, 0, 0.693);
  position: relative;
  font-family: sans-serif;
}

main {
  min-width: 50vw;
  min-height: 70vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rounds-section,
.score-section {
  border: solid white 3px;
  width: 40vw;

  border-radius: 10px;
  margin-inline: 200px;
  text-align: center;
  margin-bottom: 40px;

  #rounds {
    text-align: center;
    display: flex;
  }
}

.round-amount-counter {
  display: flex;
  justify-content: space-around;
}

label,
p,
h2,
a {
  color: white;
  font-size: 1.5rem;
}

p {
  font-size: 2.5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

.player-choice {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.button-choice {
  border-radius: 50%;
  overflow: hidden;
  height: 100px;
  width: 100px;
  position: relative;
  border: none;
  border: solid white 3px;
}

.rock {
  background: center / 70px no-repeat url('../../img/rock.png');
  transition-duration: 300ms;
}
.paper {
  background: center / 70px no-repeat url('../../img/paper.png');
  transition-duration: 300ms;
}
.scissors {
  background: center / 70px no-repeat url('../../img/scissor.png');
  transition-duration: 300ms;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;

  input {
    position: absolute;
    left: -9999px;
    &:checked + span {
      background-color: (#fff, variables.$primary-color, 84%);
      &:before {
        box-shadow: inset 0 0 0 0.4375em variables.$primary-color;
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em; // or something higher...
    transition: 0.25s ease;
    &:hover {
      background-color: mix(#f7bf08, variables.$primary-color, 84%);
    }
    &:before {
      display: flex;
      flex-shrink: 0;
      content: '';
      background-color: #675311;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-right: 0.375em;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 0.125em variables.$primary-color;
    }
  }
}

.choice-section {
  text-align: center;

  .restart {
    padding: 20px 50px;
    border-radius: 20px;
    transition-duration: 300ms;
  }
}
button:hover {
  transform: scale(1.2);
  background-color: black;
  color: white;
  border: 2px orange double;
}

button {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.269);
  color: white;
  font-size: 1.5rem;
  border: 2px orange double;
}
.round-amount-counter {
  font-size: 4rem;
}

.score-section {
  p {
    span {
      color: rgb(255, 166, 0);
    }
    .user,
    .comp {
      color: rgb(255, 115, 0);
    }
  }
}

.all-player {
  color: rgb(255, 166, 0);
}

.draw {
  color: rgb(28, 187, 28);
}
